@use '../abstracts/mixins' as m;

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    padding: 1rem 0; 

    img {
        width: 210.32px;
        height: 68px;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        gap: 57px;

        &__linkText {
            color: black;
            font-weight: 500;
            font-size: 24px;
            text-decoration: none;
            position: relative;

            &.active {
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0px;
                    left: 0;
                    background-color: black;
                }
            }
        }
    }
}