* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    font-family: 'Montserrat';
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
  }
  
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  /* Supprime les variations de texte sur Mobile Safari */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  /* Pour les utilisateurs qui préfèrent la réduction des animations */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }